nav{
    padding: 80px;
}
nav a {
  background-color: #4b0082;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

}

nav a:hover {
  background-color: #6a0dad;
}
