.formulario-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  font-family: 'Montserrat';
}


input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

button.form-btn {
  background-color: #4b0082;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

button.form-btn:hover {
  background-color: #6a0dad;
}
