<div class="formulario-container">
  <h3>Añadir Universidad</h3>
  <form>
    <div class="form-group">
      <h4>Nombre universidad</h4>
      <input type="text" name="nombreUniversidad" [(ngModel)]="formData.nombre" required>
    </div>
    <div class="form-group">
      <h4>Localidad</h4>
      <input type="text" name="localidad" [(ngModel)]="formData.localidad" required>
    </div>
    <div class="form-group">
      <h4>Carreras</h4>
      <input type="text" name="carrera1" placeholder="Carrera 1" [(ngModel)]="formData.carrera1">
      <input type="text" name="carrera2" placeholder="Carrera 2" [(ngModel)]="formData.carrera2">
      <input type="text" name="carrera3" placeholder="Carrera 3" [(ngModel)]="formData.carrera3">
    </div>
    <button type="button" (click)="crearUniversidad()">Crear Universidad</button>
        <button type="button" (click)="modificarUniversidad()">Modificar Universidad</button>

  </form>
</div>
